nav {
	margin: 27px auto 0;
	position: relative;
	width: 80%;
	height: 40px;
	background-color: #0A2D72;
	border-radius: 5px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 90%;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
    font-size: 45px;
    margin-left: 30%;
    font-family: 'Alegreya', serif;
}

h2{
    font-family: 'Alegreya', serif;
    text-align: center;
}

h3{
    font-family: 'Alegreya', serif;
    text-align: center;
}

p{
    font-family: 'Alegreya', serif;
    font-size: 29px;
    text-align: center;
}

.botones{
    display: flex;
    justify-content: center;
    
}

.left{
  font-size: 50px;
  margin-right: 75%;
  color: #0A2D72;
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
}

.right{
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  font-size: 50px;
  margin-left: 75%;
  color: #0A2D72;
  border: #fff;
}

.page {
    position: relative;
    box-sizing: border-box;
    max-width: 500px;
    border-radius: 10px;
    background: #fff;
    background-image: linear-gradient(#f5f5f0 1.1rem, #ccc 1.2rem);
    background-size: 200% 1.2rem;
    line-height: 1.2rem;
    padding: 1.9rem 0.6rem 0.4rem 4.8rem;
    font-family: 'Alegreya', serif;
    margin-top: 15%;
    margin-bottom: 5%;

 
  }
  
  .page::before,
  .page::after {
    position: absolute;
    content: "";
    bottom: 10px;
    width: 40%;
    height: 10px;
    box-shadow: 0 5px 14px #0A2D72;
    z-index: -1;
    transition: all 0.3s ease;
   
  }
  
  .page::before {
    left: 15px;
    transform: skew(-5deg) rotate(-5deg);
  }
  
  .page::after {
    right: 15px;
    transform: skew(5deg) rotate(5deg);
  }
  
  .page:hover::before,
  .page:hover::after {
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4);
  }
  
  .margin {
    position: absolute;
    border-left: 1px solid #d88;
    height: 100%;
    left: 3.3rem;
    top: 0;
  }
  
  .page p {
    margin: 0;
    text-indent: 1rem;
    padding-bottom: 1.2rem;
    color: black;
    line-height: 20px;
    font-family: 'Alegreya', serif;
  }

  li{
    font-family: 'Alegreya', serif;
    font-size: 25px;
  }

  .video{
    width: 495px;
    margin-top: 30%;
    margin-bottom: 7%;
  }

  .col{
    margin-left: 4%;
  }