nav {
	margin: 27px auto 0;
	position: relative;
	width: 75%;
	height: 40px;
	background-color: #0A2D72;
	border-radius: 5px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 90%;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
    font-size: 45px;
    margin-left: 30%;
    font-family: 'Alegreya', serif;
}

h2{
    font-family: 'Alegreya', serif;
    text-align: center;
}

h3{
    font-family: 'Alegreya', serif;
    text-align: center;
}

p{
    font-family: 'Alegreya', serif;
    font-size: 25px;
    text-align: center;
}

.botones{
    display: flex;
    justify-content: center;
    
}


.left{
  font-size: 50px;
  margin-right: 75%;
  color: #0A2D72;
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
}

.right{
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  font-size: 50px;
  margin-left: 75%;
  color: #0A2D72;
  border: #fff;
}

.card1 {
    margin-top: 5%;
    width: 385px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    color: rgb(0, 0, 0);
    position: relative;
    cursor: pointer;
    font-weight: 200;
    transition-duration: .2s;
    background: linear-gradient(0deg, #fffdfd, #ffffff);
  }
  
  .card1:before, .card1:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 6px #0A2D72;
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
  }
  
  @keyframes steam {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 400% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }
  
  .card1:after {
    filter: blur(90px);
  }
  
  li{
    font-family: 'Alegreya', serif;
   font-size: 25px;
  }

  .video{
    width: 500px;
    margin-top: 8%;
  }