nav {
	margin: 27px auto 0;
	position: relative;
	width: 80%;
	height: 40px;
	background-color: #0A2D72;
	border-radius: 5px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 90%;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
    font-size: 45px;
    margin-left: 30%;
    font-family: 'Alegreya', serif;
}

h2{
    font-family: 'Alegreya', serif;
    text-align: center;
}

h3{
    font-family: 'Alegreya', serif;
    text-align: center;
}

p{
    font-family: 'Alegreya', serif;
    font-size: 25px;
    text-align: center;
}

.botones{
    display: flex;
    justify-content: center;
    
}

.left{
    font-size: 50px;
    margin-right: 81%;
    color: #0A2D72;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
}

.right{
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    font-size: 50px;
    margin-left: 81%;
    color: #0A2D72;
    border: #fff;
}
.circle{
    width: 390px;
    height: 400px;
    background-color: #f9b515;
    border-radius: 50%;
    margin-top: 30%;
    margin-bottom: 10%;
    box-shadow: 2px 2px 8px 4px #0A2D72;

}

li{
    font-family: 'Alegreya', serif;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
}

.video{
    width: 410px;
}