nav {
	margin: 27px auto 0;
	position: relative;
	width: 75%;
	height: 40px;
	background-color: #0A2D72;
	border-radius: 5px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 90%;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
    font-size: 45px;
    margin-left: 30%;
    font-family: 'Alegreya', serif;
}

h2{
    font-family: 'Alegreya', serif;
    text-align: center;
}

h3{
    font-family: 'Alegreya', serif;
    text-align: center;
}

p{
    font-family: 'Alegreya', serif;
    font-size: 25px;
    text-align: center;
}

.botones{
    display: flex;
    justify-content: center;
    
}

.left{
    font-size: 50px;
    margin-right: 75%;
    color: #0A2D72;
    position: absolute;
    top: 30%;
    transform: translateY(-40%);
}

.right{
    position: absolute;
    top: 30%;
    transform: translateY(-40%);
    font-size: 50px;
    margin-left: 70%;
    color: #0A2D72;
    border: #fff;
}


.card1 {
    width: 350px;
    height: 454px;
    background: lightgrey;
    position: relative;
    transform: skewY(-10deg);
    border: 5px solid #0A2D72;
    box-sizing: border-box;
    transition: all 0.3s;
    margin-bottom: 3%;
    margin-top: 8%;
  }
  
  .card1::before {
    content: '';
    width: 10px;
    height:  454px;
    background: #0A2D72;
    position: absolute;
    top: -5px;
    left: -14.7px;
    transform-origin: right;
    transform: skewY(45deg);
    border: none;
    transition: all 0.5s;
  }
  
  .card1::after {
    content: '';
    height: 10px;
    width: 350px;
    background: #0A2D72;
    position: absolute;
    top: -14.7px;
    left: -5px;
    transform-origin: bottom;
    transform: skewX(45deg);
    border: none;
    transition: all 0.5s;
  }
  
  .card1:hover {
    transform: skewY(0deg);
  }
  
  .card1:hover::before {
    width: 0px;
    height: 249px;
    left: 0;
    top: 0.1px;
  }
  
  .card1:hover::after {
    width: 184px;
    height: 0px;
    left: 0.1px;
    top: 0;
  }
  
  .card__content1 {
    padding: 10px;
    color: #323232;
  }

  .p{
    font-family: 'Alegreya', serif;
    font-size: 23px;
    text-align: center;
   }

   .video{
    width: 500px;
   }