nav {
	margin: 27px auto 0;
	position: relative;
	width: 75%;
	height: 40px;
	background-color: #0A2D72;
	border-radius: 5px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 90%;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
    font-size: 45px;
    margin-left: 30%;
    font-family: 'Alegreya', serif;
}

h2{
    font-family: 'Alegreya', serif;
    text-align: center;
}

h3{
    font-family: 'Alegreya', serif;
    text-align: center;
}

p{
    font-family: 'Alegreya', serif;
    font-size: 25px;
    text-align: center;
}

.botones{
    display: flex;
    justify-content: center;
    
}

.left{
    font-size: 50px;
    margin-right: 75%;
    color: #0A2D72;
    position: absolute;
    top: 30%;
    transform: translateY(-40%);
}

.right{
    position: absolute;
    top: 30%;
    transform: translateY(-40%);
    font-size: 50px;
    margin-left: 70%;
    color: #0A2D72;
    border: #fff;
}

.card{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    width: 420px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #0A2D72;
    border-radius:15px;
    margin-top: 5%;
}


li{
    font-family: 'Alegreya', serif;
    font-size: 25px;
}

.video{
    width: 400px;
    margin-top: 10%;
}