nav {
	margin: 27px auto 0;
	position: relative;
	width: 75%;
	height: 40px;
	background-color: #0A2D72;
	border-radius: 5px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 90%;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
    font-size: 45px;
    margin-left: 30%;
    font-family: 'Alegreya', serif;
}

h2{
    font-family: 'Alegreya', serif;
    text-align: center;
}

h3{
    font-family: 'Alegreya', serif;
    text-align: center;
}

p{
    font-family: 'Alegreya', serif;
    font-size: 25px;
    text-align: center;
}

.botones{
    display: flex;
    justify-content: center;
    
}

.left{
    font-size: 50px;
    margin-right: 75%;
    color: #0A2D72;
    position: absolute;
    top: 30%;
    transform: translateY(-40%);
}

.right{
    position: absolute;
    top: 30%;
    transform: translateY(-40%);
    font-size: 50px;
    margin-left: 70%;
    color: #0A2D72;
    border: #fff;
}

  
.card1 {
    width: 400px;
    height: 455px;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-family: 'Alegreya', serif;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
    transition: all 0.7s ease-in-out;
    overflow: hidden;
    margin-top: 10%;
  }
  
  .card1::before {
    content: "";
    position: absolute;
    height: 30%;
    width: 100%;
    background-color: #0A2D72;
    bottom: 0;
    right: 0;
    transform: translatey(70px);
    border-radius: 100%;
    transition: all 0.7s ease-in-out;
  }
  
  .c-txt {
    z-index: 2;
  }
  
  .card1:hover::before {
    transform: scale(7) translate(-20px);
  }
  
  .card1:hover {
    box-shadow: 1px -10px 500px 500px #9fe4e44a;
    color: #f3f3f3;
  }
  
  
  li{
    font-size: 25px;
  }
  .video{
    width: 400px;
    margin-top: 10%;

  }